Source: dpa-ext-gnomekeyring
Section: devel
Priority: optional
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends: debhelper (>= 9), qt5-qmake, libqt5core5a, dde-polkit-agent-dev
Standards-Version: 3.9.8
Homepage: https://www.deepin.org

Package: dpa-ext-gnomekeyring
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GNOME keyring extension for dde-polkit-agent.
 DDE Polkit Agent extension to automatically do some thing with GNOME keyring.
